<div class="container p-5">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Counter: {{ counter }}</h1>
      <div class="row mt-4">
        <div class="col text-right">
          <app-operation
            [viewModel]="incrementViewModel"
            (onOperation)="onOperationHandler($event)"
          ></app-operation>
        </div>
        <div class="col">
          <app-operation
            [viewModel]="decrementViewModel"
            (onOperation)="onOperationHandler($event)"
          ></app-operation>
        </div>
      </div>
    </div>
  </div>
</div>
